.form-group
  input.form-control(type='email', name="username", placeholder='email address')
.form-group
  input.form-control(type='password', name="password", placeholder='password')
.form-group
  input.form-control(type='text', name="firstname", placeholder='first name')
.form-group
  input.form-control(type='text', name="lastname", placeholder='last name')
.form-group
  input.form-control(type='text', name="street", placeholder='street address')
.form-group
  input.form-control(type='text', name="city", placeholder='city')
.form-group
  input.form-control(type='text', name="state", placeholder='2 digit state', maxlength=2)
.form-group
  input.form-control(type='number', name="zip", placeholder='5 digit zip code', maxlength=5)

button.btn.btn-default(type='submit') Submit
span &nbsp;
