//- - var output = user.firstname ? user.firstname : 'first name';
//- - var output = user.lastname ? user.lastname : 'last name'; 
//- - var output = user.address.street ? user.address.street : "street";
//- - var output = user.address.city  ? user.address.city : "city";
//- - var output = user.address.state ? user.address.state : "2 letter state";
//- - var output = user.address.zip ? user.address.zip : "zip code";

.form-group
  input.form-control(type='email', name="username" placeholder="email")
.form-group
  input.form-control(type='password' name="password" placeholder='password')
.form-group
  
  input.form-control(type='text' name="firstname" placeholder="first name")
.form-group
  //- 
  input.form-control(type='text', name="lastname", placeholder="last name")
.form-group
  //- 
  input.form-control(type='text', name="street", placeholder="street")
.form-group
  //- 
  input.form-control(type='text', name="city", placeholder="city")
.form-group
  //- 
  input.form-control(type='text', name="state", placeholder='state', maxlength=2)
.form-group
  //- 
  input.form-control(type='number', name="zip", placeholder="zip", maxlength=5)

button.btn.btn-default(type='submit') Submit
span &nbsp;
