extends layout

block content
  .container
    script.

    h1 Add a tool
    p.lead Please fill in all fields!
    br
    form(role='form', action="/new",method="post", style='max-width: 500px;')
      .form-group
        label Select Tool Category
        .form-control(#category)
          select
            option(value= 'power') Power Tools
            option(value= 'hand')  Hand Tools
            option(value= 'garden')  Garden Tools
            option(value= 'bench')  Bench Tools
            option(value= 'air')  Air Tools

      h1 Choose tool
      h2 Power Tools
      input.radio-inline(type='radio', name="tool", value='drill')
      label drill
      input.radio-inline(type='radio', name="tool", value='joiner' )
      label joiner
      input.radio-inline(type='radio', name="tool", value='sander' )
      label sander
      input.radio-inline(type='radio', name="tool", value='grinder' )
      label grinder
      input.radio-inline(type='radio', name="power", value='sandblaster' )
      label sandblaster

      h2 Hand Tools
      input.radio-inline(type='radio', name="hand", value='hammer')
      label hammer
      input.radio-inline(type='radio', name="hand", value='wrench' )
      label wrench
      input.radio-inline(type='radio', name="hand", value='hand saw' )
      label hand saw
      input.radio-inline(type='radio', name="hand", value='screwdriver' )
      label screwdriver
      input.radio-inline(type='radio', name="hand", value='vise' )
      label vise

      h2 Garden Tools
      input.radio-inline(type='radio', name="garden", value='blower')
      label blower
      input.radio-inline(type='radio', name="garden", value='bulb planter' )
      label bulb planter
      input.radio-inline(type='radio', name="garden", value='edger' )
      label edger
      input.radio-inline(type='radio', name="garden", value='lawn aerator' )
      label lawn aerator
      input.radio-inline(type='radio', name="garden", value='lawn mower' )
      label lawn mower

      h2 Bench Tools
      input.radio-inline(type='radio', name="bench", value='grinder')
      label grinder
      input.radio-inline(type='radio', name="bench", value='router' )
      label router
      input.radio-inline(type='radio', name="bench", value='sander' )
      label sander
      input.radio-inline(type='radio', name="bench", value='table saw' )
      label table saw
      input.radio-inline(type='radio', name="bench", value='planer' )
      label planer

      h2 Air Tools
      input.radio-inline(type='radio', name="air", value='nail gun')
      label nail gun
      input.radio-inline(type='radio', name="air", value='compressor' )
      label compressor
      input.radio-inline(type='radio', name="air", value='inflator' )
      label inflator
      input.radio-inline(type='radio', name="air", value='spray gun' )
      label spray gun
      input.radio-inline(type='radio', name="air", value='pressure washer' )
      label pressure washer
      br
    .form-group
      h1 description
        input.form-control(type='text', name="description", placeholder='description')


    button.btn.btn-default(type='submit') Submit
    span &nbsp;

    a(href='/dashboard')
      button.btn.btn-primary(type="button") Cancel
    br
    h4=info

