extends layout

block content
  .container
    h1 Tool Share
    h2 catchy catchphrase
    img(src='img/ts-logo.gif' alt='Tool Share logo')
    br
    if (!user)
      a(class='button' href='login') Login
      br
      a(class='button' href='register') Register
    if (user)
      p Welcome back #{user.username}
      br
      a(class='button' href='dashboard') Dashboard
      br
      a(href="/logout") Logout
    br
    a(class='button' href='findtools') Find Tools
