extends layout

block content
  .container
    h2 Update your profile
    form(role='form' action="/users/#{user.id}" action="put" style='max-width: 300px;')
      include ./includes/userform.jade
      a(href='/')
      button.btn.btn-primary(type="button") Cancel
      br
    h4=info
